{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=\, initial-scale=1.0"/>
    <link rel="stylesheet" href="{% static '/styles/styles.css' %}"/>
    <title>Fruit Dictionary</title>
</head>
<body>
<div id="wrapper">
    <header>
        <a id="logo" href="#">
            <img id="logo-img" src="{% static '/images/logo.png' %}" alt="logo"/>
        </a>

        <nav>
            <div class="user">
                <a href="{% url 'dashboard page' %}">Dashboard</a>
                <a href="{% url 'fruit create page' %}">Add Fruit</a>
                <a href="{% url 'profile details page' %}">Profile</a>
            </div>

            <div class="guest">

                <a href="{% url 'profile create page' %}">Create Profile</a>

            </div>
        </nav>
    </header>

    <main>

        <section id="register">
            <div class="form">
                <h2>Create Profile</h2>
                <form action="{% url 'profile create page' %}" method="post" class="register-form">

                    {% csrf_token %}
                    {{ add_form }}

                    <button type="submit">Create</button>

                </form>
            </div>
        </section>

    </main>
</div>
<footer>
    <p>@Fruit Dictionary. All rights reserved.</p>
</footer>
</body>
</html>